API_IMAGE=ghcr.io/adelson70/foodhope/api:latest
WEB_IMAGE=ghcr.io/adelson70/foodhope/web:latest

DATABASE_URL=postgresql://foodhope:foodhope@postgres:5432/foodhope

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

NODE_ENV=production
PORT=5000
APP=https://foodhope.abjr.dev
API_PUBLIC_URL=https://foodhope-api.abjr.dev

JWT_SECRET=change-me-long-random-secret
JWT_EXPIRES_IN=7d

SWAGGER_USER=admin
SWAGGER_PASSWORD=admin

IP_IMPRESSORA=
DIALOUT_GID=20
LP_GID=7
