POSTGRES_USER=foodhope
POSTGRES_PASSWORD=foodhope
POSTGRES_DB=foodhope

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

PORT=5000
API_PUBLISH_PORT=5000
APP=http://localhost
WEB_PUBLISH_PORT=80
VITE_API_URL=http://localhost:5000
VITE_SITE_URL=https://foodhope.abjr.dev

DATABASE_URL=postgresql://foodhope:foodhope@postgres:5432/foodhope

JWT_SECRET=troque-este-segredo
JWT_EXPIRES_IN=7d

SWAGGER_USER=admin
SWAGGER_PASSWORD=admin

IP_IMPRESSORA=
DIALOUT_GID=18
LP_GID=7

CLOUDFLARE_TUNNEL_TOKEN_API=
CLOUDFLARE_TUNNEL_TOKEN_WEB=
